:root {
    /* background colors */
    --main-bg-color: #384248;
    --btn-background-color: #5E8F92;

    /* text colors */
    --translucent-text-black: rgba( 0, 0, 0, .54);
    --text-white: #CDCDCD;
    --text-gray: #9A9A9A;

    /* status colors */
    --status-green: #89CB56;
    --status-red: #FF0000;
    --status-orange: #FF8F0B;
    --status-yellow: #D4BF06;
}